<h1>Signin</h1>

<%= render 'shared/flashes' %>

<%= form_with url: signin_path do |form| %>
  <table>
    <tr>
      <td><%= form.label :login, 'Login' %></td>
      <td><%= form.text_field :login %></td>
    </tr>
    <tr>
      <td><%= form.label :password, 'Password' %></td>
      <td><%= form.password_field :password %></p></td>
    </tr>
    <tr>
      <td colspan="2"><%= form.submit 'Signin' %></td>
    </tr>
  </table>
<% end %>

<p><%= link_to('Signup', signup_path) %></p>
