<%= form_with model: [:admin, @question, @answer] do |form| %>
  <p><%= form.label :statement, 'Statement' %>
  <%= form.text_field :statement %></p>
  <p><%= form.label :correct, 'Is correct' %>
  <%= form.check_box :correct %></p>
  <p><%= form.submit %></p>
<% end %>
