<%= form_with model: [:admin, @test] do |form| %>
  <p><%= form.label :title, "Title" %>
  <%= form.text_field :title %></p>
  <p><%= form.label :level, "Level" %>
  <%= form.number_field :level, in: 0..Float::INFINITY %></p>
  <p><%= form.label :category_id, "Category" %>
  <%= form.collection_select :category_id, Category.all, :id, :title, prompt: true %></p>
  <p><%= form.label :timer, "Timer in minutes" %>
  <%= form.number_field :timer, in: 1..Float::INFINITY %></p>
  <p><%= form.submit %></p>
<% end %>
